@font-face {
    font-family: "Proxima Nova Regular";
    src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url('../fonts/Proxima-Nova-Bold.otf');
}

@font-face {
    font-family: "Proxima Nova SemiBold";
    src: url('../fonts/Proxima-Nova-Semibold.otf');
}

$proximaNova: "Proxima Nova Regular";
$proximaNovaSemiBold: "Proxima Nova SemiBold";
$proximaNovaBold: "Proxima Nova Bold";