@import './fonts.scss';

$zIndexHeader: 3;
$zindexContent: 2;
$zindexBase: 1;

/* COLORS */
$base: #F3F2F1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        // text-decoration: none;
    }
}

html, body  {
    box-sizing: border-box;
    background-color: $base;
    font-family: $proximaNova;
    font-size: 12pt;
    height: 100%;
    #root{
        height: 100%;
    }
}



/* HEADER */
$headerHeight: 70px;
#header {
    display: block;
    top: 0;
    left: 0;
    height: $headerHeight;
    width: 100%;
    overflow: hidden;
    background-color: $base;
    z-index: 3;
    position:absolute;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &.absolute {
        position: absolute;
    }
    &.fixed {
        position: fixed;
    }
    
    &.sticky {
        transform: translateY(0);
        box-shadow: 0 1px 1px #ccc;
    }

    &.hide{
        transform: translateY(-($headerHeight));
    }
    
    
    #logo {
        float: left;
        font-family: $proximaNovaBold;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 20px 0 20px 0;
        letter-spacing: 3px;
        color: black;
        text-decoration: none;
    }
    
    #nav {
        float: right;
        font-family: $proximaNovaSemiBold;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin: 0;
            padding: 20px;
            &:nth-last-child() {
                padding-right: 0;
            }
            a {
                padding: 0 5px 5px 5px;
                color: black;
                border-bottom: 5px solid transparent;
                text-decoration: none;
                display: block;
                &:hover {
                    border-bottom: 5px solid black;
                }
            }
        }
    }
}


/* CONTENT */
#content {
    position: relative;
    top: $headerHeight;
    min-height: calc(100vh - $headerHeight);
    z-index: 2;
}

#home {
    position: relative;
    min-height: calc(100vh - 70px);
    padding-top: 80px;
    overflow: hidden;
    
    img#home-vector {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        height: 100%;
    }

    h4 {
        display: inline-block;
        font-size: 6em;
        color: #ad9894;
        margin-bottom: 15px;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }

    h6 {
        font-size: 1.5em;
        margin-bottom: 5px;
        font-style: $proximaNova;
        // font-weight: 300;
    }

    #social-media {
        position: absolute;
        font-size: 18pt;
        bottom: 20px;
        
        li {
            margin-right: 15px;
            display: inline;
            a {
                color: #908F8F;
                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

}